{% extends "base_generic.html" %}

{% block content %}
  <table class="table">
    <tr>
      <td><strong>Id:</strong></td>
      <td>{{ venda.id }}</td>
    </tr>
    <tr>
      <td><strong>Data:</strong></td>
      <td>{{ venda.data_formatada }}</td>
    </tr>
    <tr>
      <td><strong>Produto:</strong></td>
      <td>{{ venda.produto }}</td>
    </tr>
    <tr>
      <td><strong>Unidade:</strong></td>
      <td>{{ venda.unidade }}</td>
    </tr>
    <tr>
      <td><strong>Quantidade:</strong></td>
      <td>{{ venda.quantidade }}</td>
    </tr>
    <tr>
      <td><strong>Preço:</strong></td>
      <td>{{ venda.preco_formatado }}</td>
    </tr>
    <tr>
      <td><strong>Total:</strong></td>
      <td>{{ venda.total_formatado }}</td>
    </tr>
    <tr>
      <td><strong>Situação:</strong></td>
      <td>{{ venda.get_situacao_display }}</td>
    </tr>
    <tr>
      <td><strong>Cliente:</strong></td>
      <td>{{ venda.cliente }}</td>
    </tr>
  </table>
{% endblock %}