<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Controle Financeiro</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div>
    <div class="row">
        <div>
          <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link {% if nav == '' %}active{% endif %}" href="{% url 'index' %}">DashBoard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if nav == 'unidade' %}active{% endif %}" href="{% url 'unidades' %}">Unidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if nav == 'produto' %}active{% endif %}" href="{% url 'produtos' %}">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if nav == 'cliente' %}active{% endif %}" href="{% url 'clientes' %}">Clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if nav == 'fornecedor' %}active{% endif %}" href="{% url 'fornecedores' %}">Fornecedores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if nav == 'compra' %}active{% endif %}" href="{% url 'compras' %}">Compras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if nav == 'venda' %}active{% endif %}" href="{% url 'vendas' %}">Vendas</a>
              </li>
          </ul>
        </div>
    </div>
    <div class="row">
      <div class="container">
            {% block content %}
            {% endblock %}
            {% block pagination %}
              {% if is_paginated %}
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link" href="#"><strong>{{ page_obj.number }}</strong></a>
                        </li>
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Próxima</a>
                            </li>
                        {% endif %}
                        </ul>
                </nav>
              {% endif %}
            {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>



