{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Clientes</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Documento</th>
                <th colspan="2">
                    <button class="btn btn-light btn-sm" onclick="window.location.href='../cliente/create'">Criar</button>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if cliente_list %}
            {% for cliente in cliente_list %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.documento }}</td>
                <td>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ cliente.get_absolute_url }}/update'">Alterar</button>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ cliente.get_absolute_url }}/delete'">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
</table>
{% endblock %}