{% extends "base_generic.html" %}

{% block content %}
  <table class="table">
    <tr>
      <td><strong>Id:</strong></td>
      <td>{{ cliente.id }}</td>
    </tr>
    <tr>
      <td><strong>Nome:</strong></td>
      <td>{{ cliente.nome }}</td>
    </tr>
    <tr>
      <td><strong>Documento:</strong></td>
      <td>{{ cliente.documento }}</td>
    </tr>
    <tr>
      <td><strong>Endereço:</strong></td>
      <td>{{ cliente.endereco }}</td>
    </tr>
    <tr>
      <td><strong>Bairro:</strong></td>
      <td>{{ cliente.bairro }}</td>
    </tr>
    <tr>
      <td><strong>Cidade:</strong></td>
      <td>{{ cliente.cidade }}</td>
    </tr>
    <tr>
      <td><strong>Estado:</strong></td>
      <td>{{ cliente.estado }}</td>
    </tr>
    <tr>
      <td><strong>Telefone Principal:</strong></td>
      <td>{{ cliente.telefonePrincipal }}</td>
    </tr>
    <tr>
      <td><strong>Telefone Secundário:</strong></td>
      <td>{{ cliente.telefoneSecundario }}</td>
    </tr>
  </table>
{% endblock %}