{% extends "list.html" %}

{% block content %}

<form action="" method="POST">
  {% csrf_token %}
  <table class="table table-bordered table-striped">
    <tr>
      <td>
        <p>Você deseja excluir o item: {{ cliente }}?</p>
      </td>
    </tr>
    <tfoot>
      <tr>
        <td class="project-actions text-left">
          <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-check-square"></i> Confirmar</button>
          <a class="btn btn-secondary btn-sm" href="{{ list_href }}">
              <i class="fas fa-window-close"></i> Cancelar
          </a>
        </td>
      </tr>
    </tfoot>
  </table>
</form>

{% endblock %}