{% extends "list.html" %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th>Id</th>
                <th>Nome</th>
                <th>Documento</th>
                <th colspan="2">
                    <button class="btn btn-primary btn-sm" onclick="window.location.href='../cliente/create'">Criar</button>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if cliente_list %}
            {% for cliente in cliente_list %}
            <tr>
                <td><a href="{{ cliente.get_absolute_url }}">{{ cliente.id }}</a></td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.documento }}</td>
                <td>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ cliente.get_absolute_url }}/update'">Alterar</button>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ cliente.get_absolute_url }}/delete'">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
            <tr class="table-light">
                <td colspan="4"><strong>Quantidade de itens:</strong> {{ num_itens }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}