{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Produtos</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th colspan="2">
                    <button class="btn btn-light btn-sm" onclick="window.location.href='../produto/create'">Criar</button>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if produto_list %}
            {% for produto in produto_list %}
            <tr>
                <td><a href="{{ produto.get_absolute_url }}">{{ produto.codigo }}</a></td>
                <td>{{ produto.descricao }}</td>
                <td>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ produto.get_absolute_url }}/update'">Alterar</button>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ produto.get_absolute_url }}/delete'">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><strong>Quantidade de itens:</strong> {{ num_itens }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}