{% extends "base_generic.html" %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th>Id</th>
                <th>Código</th>
                <th>Descrição</th>
                <th>
                    <button class="btn btn-primary btn-sm" onclick="window.location.href='../produto/create'">Criar</button>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if produto_list %}
            {% for produto in produto_list %}
            <tr>
                <td><a href="{{ produto.get_absolute_url }}">{{ produto.id }}</a></td>
                <td>{{ produto.codigo }}</td>
                <td>{{ produto.descricao }}</td>
                <td>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ produto.get_absolute_url }}/update'">Alterar</button>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ produto.get_absolute_url }}/delete'">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
            <tr class="table-light">
                <td colspan="4"><strong>Quantidade de itens:</strong> {{ num_itens }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}