{% extends "base_generic.html" %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th>Código</th>
                <th>Data</th>
                <th>Nota Fiscal</th>
                <th>Produto</th>
                <th>Unidade</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Total</th>
                <th>
                    <button class="btn btn-primary btn-sm" onclick="window.location.href='../compra/create'">Criar</button>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if compra_list %}
            {% for compra in compra_list %}
            <tr>
                <td><a href="{{ compra.get_absolute_url }}">{{ compra.codigo }}</a></td>
                <td>{{ compra.data_formatada }}</td>
                <td>{{ compra.notafiscal }}</td>
                <td>{{ compra.produto }}</td>
                <td>{{ compra.unidade }}</td>
                <td>{{ compra.quantidade }}</td>
                <td>{{ compra.preco_formatado }}</td>
                <td>{{ compra.total_formatado }}</td>
                <td>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ compra.get_absolute_url }}/update'">Alterar</button>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ compra.get_absolute_url }}/delete'">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
            <tr class="table-secondary">
                <td colspan="9"><strong>Quantidade de itens:</strong> {{ num_itens }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}