{% extends "base_generic.html" %}

{% block content %}
  <table class="table">
    <tr>
      <td><strong>Id:</strong></td>
      <td>{{ compra.id }}</td>
    </tr>
    <tr>
      <td><strong>Data:</strong></td>
      <td>{{ compra.data_formatada }}</td>
    </tr>
    <tr>
      <td><strong>Nota Fiscal:</strong></td>
      <td>{{ compra.notafiscal }}</td>
    </tr>
    <tr>
      <td><strong>Produto:</strong></td>
      <td>{{ compra.produto }}</td>
    </tr>
    <tr>
      <td><strong>Unidade:</strong></td>
      <td>{{ compra.unidade }}</td>
    </tr>
    <tr>
      <td><strong>Quantidade:</strong></td>
      <td>{{ compra.quantidade }}</td>
    </tr>
    <tr>
      <td><strong>Preço:</strong></td>
      <td>{{ compra.preco_formatado }}</td>
    </tr>
    <tr>
      <td><strong>Total:</strong></td>
      <td>{{ compra.total_formatado }}</td>
    </tr>
    <tr>
      <td><strong>Situação:</strong></td>
      <td>{{ compra.get_situacao_display }}</td>
    </tr>
    <tr>
      <td><strong>Fornecedor:</strong></td>
      <td>{{ compra.fornecedor }}</td>
    </tr>
  </table>
{% endblock %}