{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Compras</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Data</th>
                <th>Produto</th>
                <th>Nota Fiscal</th>
                <th colspan="2">
                    <button class="btn btn-light btn-sm" onclick="window.location.href='../compra/create'">Criar</button>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if compra_list %}
            {% for compra in compra_list %}
            <tr>
                <td>{{ compra.data }}</td>
                <td>{{ compra.produto }}</td>
                <td>{{ compra.notafiscal }}</td>
                <td>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ compra.get_absolute_url }}/update'">Alterar</button>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ compra.get_absolute_url }}/delete'">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"><strong>Quantidade de itens:</strong> {{ num_itens }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}