{% extends "base_generic.html" %}
{% block content %}
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <td>Id</td>
                <td>Sigla</td>
                <td>Descrição</td>
                <td colspan="2">
                    <button class="btn btn-primary btn-sm" onclick="window.location.href='../unidade/create'">Criar</button>
                </td>
            </tr>
        </thead>
        <tbody>
        {% if unidade_list %}
            {% for unidade in unidade_list %}
            <tr>
                <td>
                    <a href="{{ unidade.get_absolute_url }}">{{ unidade.id }}</a>
                </td>
                <td>{{ unidade.sigla }}</td>
                <td>{{ unidade.descricao }}</td>
                <td>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ unidade.get_absolute_url }}/update'">Alterar</button>
                    <button class="btn btn-dark btn-sm" onclick="window.location.href='{{ unidade.get_absolute_url }}/delete'">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
            <tr class="table-light">
                <td colspan="4"><strong>Quantidade de itens:</strong> {{ num_itens }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}