{% extends "list.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <table class="table table-bordered table-striped">
      <tr>
        <td width="20%"><strong>Sigla:</strong></td>
        <td>{{ form.sigla }}</td>
      </tr>
      <tr>
        <td><strong>Descrição:</strong></td>
        <td>{{ form.descricao }}</td>
      </tr>
      <tfoot>
        <tr>
          <td class="project-actions text-left" colspan="2">
            <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-check-square"></i> Confirmar</button>
            <a class="btn btn-secondary btn-sm" href="{{ list_href }}">
              <i class="fas fa-window-close"></i> Cancelar
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
{% endblock %}